# Create an SQLAlchemy Engine to connect to the Database

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# Create an engine.
engine = create_engine(
    "sqlite:///C:\\Users\\Public\\PWDrive\\MBI\\DEV\\Code\\Data\\ohio_bidtabs.db"
)

## Use the Engine to Load Database Tables as Pandas Dataframes

In [4]:
with engine.connect() as conn, conn.begin():
    bid_values_df = pd.read_sql_table("bid_values", conn)
    contractors_df = pd.read_sql_table("contractors", conn)
    projects_df = pd.read_sql_table("projects", conn)

In [5]:
# Displays the first 5 rows of data
bid_values_df.head()

,id,item_code,item_description,quantity,bid_amount,contractor,project
0,1,832E30000,EROSION CONTROL,1000.0,37456.39,1.0,115012
1,2,832E30000,EROSION CONTROL,1000.0,70957.00,2.0,115012
2,3,832E30000,EROSION CONTROL,1000.0,177524.00,3.0,115012
3,4,614E11110,LAW ENFORCEMENT OFFICER WITH PATROL CAR FOR AS...,8.0,37456.39,1.0,115012
4,5,614E11110,LAW ENFORCEMENT OFFICER WITH PATROL CAR FOR AS...,8.0,70957.00,2.0,115012

# Export the tables to Excel Sheets

In [6]:
bid_values_1 = bid_values_df.iloc[:1048570, :]
bid_values_2 = bid_values_df.iloc[1048570:2097140, :]
bid_values_3 = bid_values_df.iloc[2097140:, :]

In [7]:
# Doing this without a writer object overwrites the same sheet
with pd.ExcelWriter("output/odot_bidtabs.xlsx") as writer:
    bid_values_1.to_excel(writer, sheet_name="Bid Values 1")
    bid_values_2.to_excel(writer, sheet_name="Bid Values 2")
    bid_values_3.to_excel(writer, sheet_name="Bid Values 3")

C:\Users\dane.parks\AppData\Local\Temp\1\ipykernel_48308\2334280846.py:3: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  bid_values_1.to_excel(writer, 'Bid Values 1')
C:\Users\dane.parks\AppData\Local\Temp\1\ipykernel_48308\2334280846.py:4: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  bid_values_2.to_excel(writer, 'Bid Values 2')
C:\Users\dane.parks\AppData\Local\Temp\1\ipykernel_48308\2334280846.py:5: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  bid_values_3.to_excel(writer, 'Bid Values 3')

In [10]:
with pd.ExcelWriter("output/odot_bidtabs.xlsx", engine="openpyxl", mode="a") as writer:
    contractors_df.to_excel(writer, sheet_name="contractors")

In [11]:
with pd.ExcelWriter("output/odot_bidtabs.xlsx", engine="openpyxl", mode="a") as writer:
    projects_df.to_excel(writer, sheet_name="projects")