## How to pull survey data from CSV files given a list of attributes

In [1]:
import os
import pandas as pd
from pathlib import Path

In [11]:
# These are the only values that need to bechanged by the user
path_to_csvs = Path("C:\\Users\\dparks1\\Desktop\\Survey_CSVs")
list_of_codes_to_pull = ['WIRE', 'EB1', 'CP3', 'DM', 'EB2', 'EP1', 'EP2', 'PP', 'WALLH', 'WALLH PC', 'WALLH PT', 'D1 BL*']
output_location = Path("C:\\Users\\dparks1\\Desktop\\Survey_CSVs\\script_output.csv")

In [12]:
# List all CSVs in the folder
def build_file_list_from_path(path=None):
    empty_list = []
    
    # Build a list of every file directory in the given folder
    for root, dirs, files in os.walk(path.resolve()):
        # Filter out directories that contain unimportant or hidden files
        dirs[:] = [d for d in dirs if not d[0] == '.']
        dirs[:] = [d for d in dirs if not d[0] == '_']
            
        for file_var in os.listdir(path):
            root_dir = Path(f"{root}")
            print(f"Found CSV File: {Path(root+'/'+file_var)}")

            empty_list.append(f"{Path(root+'/'+file_var)}")
    
    return empty_list

In [13]:
list_of_files = build_file_list_from_path(path_to_csvs)

Found CSV File: C:\Users\dparks1\Desktop\Survey_CSVs\Final MAR US23 MM 3-4 ROW Notes.csv
Found CSV File: C:\Users\dparks1\Desktop\Survey_CSVs\Final MAR-23 03.35 Total Station Full.csv
Found CSV File: C:\Users\dparks1\Desktop\Survey_CSVs\Final MAR23 MM4.00 Total Station.csv
Found CSV File: C:\Users\dparks1\Desktop\Survey_CSVs\Full MAR 23 3.35 Scan.csv
Found CSV File: C:\Users\dparks1\Desktop\Survey_CSVs\Full MAR 23 MM4.0 Scan.csv
Found CSV File: C:\Users\dparks1\Desktop\Survey_CSVs\MAR-23-03.35_Extra on 119.csv

In [14]:
test_df = pd.read_csv(list_of_files[2], header=None)

In [15]:
for file in list_of_files:
    test_df = pd.read_csv(file, header=None)
    final_df = test_df[test_df[4].isin(list_of_codes_to_pull)]

In [16]:
final_df

           0           1            2        3     4
4    SV10004  298367.049  1808960.301  960.899   EB2
5    SV10005  298368.850  1808959.985  961.278   EP2
6    SV10006  298377.170  1808960.301  961.639   CP3
7    SV10007  298386.578  1808960.541  961.373   EP2
8    SV10008  298388.103  1808960.602  961.220   EB2
..       ...         ...          ...      ...   ...
188  SV10188  298381.375  1808492.784  963.547   EP1
189  SV10189  298384.672  1808492.257  963.388   EB1
202  SV10202  298277.768  1808537.164  995.489  WIRE
203  SV10203  298255.473  1808540.825  980.152  WIRE
204  SV10204  298247.285  1808541.252  980.286  WIRE

[72 rows x 5 columns]

In [17]:
final_df.to_csv(output_location)